<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>测试主页，权限为等各路之后查看</title>
</head>
<body>
    测试主页，权限为等各路之后查看
    <span id="span"></span>
</body>
<script src="../../static/jquery/jquery-3.3.1.js" th:src="@{/jquery/jquery-3.3.1.js}"></script>
<script src="../../static/layui/layui.all.js" th:src="@{/layui/layui.all.js}"></script>
<script>
    $(function () {
        $.ajax({
            url: "/test",
            type:"post",
            dataType:"json",
            async:false,
            success:function (res) {
                if(res.code=='200'){
                    $("#span").html(res.msg)
                }else{
                    layer.msg(res.msg)
                }
            }
        })
    })
</script>
</html>